---
import Layout from "@/layouts/Layout.astro";
import { getParams } from "@/utils/misc";
import { data } from "../../../data/mockResponse";
import CoinSelector from "../../components/CoinSelector/CoinSelector.astro";
import ExchangeList from "../../components/ExchangeList.astro";

// const data = await GET(payload);
const searchParams = getParams(Astro.url.searchParams);

const { from, to, amount } = searchParams;

const title = `${from.toUpperCase()} to ${to.toUpperCase()} deals | find the cheapest`;
---

<Layout title={title}>
  <CoinSelector {...searchParams} />
  <h2 class="text-4xl font-bold font-satoshi my-10">Result</h2>
  {
    true || data.status === 200 ? (
      <ExchangeList to={data.to} exchanges={data.fees} />
    ) : (
      <div>oppsie</div>
    )
  }
</Layout>
