---
import type { Params } from "@/utils/schemas";
import FallBackInput from "../../components/FallBackInput.astro";
import Input from "../../components/Input";

const { from, to, amount } = Astro.props as Params;
---

<div>
  <div class="js-enhanced-component">
    <Input client:idle from={from} to={to} amount={amount} />
  </div>
  <noscript>
    <FallBackInput from={from} to={to} amount={amount} />
  </noscript>
</div>
